<footer>
    <p>Retrouvez-nous sur nos réseaux sociaux</p>
    <ul>
        <li><a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="icon fa-brands fa-square-facebook fa-3x"></i></a></li>
        <li><a href="https://www.instagram.com/" title="Instagram" target="_blank"><i class="icon fa-brands fa-square-instagram fa-3x"></i></a></li>
        <li><a href="https://fr.pinterest.com/" title="Pinterest" target="_blank"><i class="icon fa-brands fa-square-pinterest fa-3x"></i></a></li>
    </ul>
</footer>