<main>
    <section class="intro">
        <h1 class="intro__title">A propos</h1>
        <p class="intro__text">{{aboutParagraphs.introduction}}</p>
    </section>
    <div class="section-container">
        <section class="firstSection">
            <div class="firstSection__text-container">
                <h2 class="firstSection__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                <p class="firstSection__text">{{aboutParagraphs.firstText.firstParagraph}}</p>
                <p class="firstSection__text">{{aboutParagraphs.firstText.secondParagraph}}</p>
            </div>
            <img class="firstSection__image" src="/assets/images/obelix.webp" alt="Pas encore mis">
        </section>
        <div class="section-container__line"></div>
        <section class="secondSection">
            <img class="secondSection__image" src="/assets/images/asterix.webp" alt="Pas encore mis">
            <div class="secondSection__text-container">
                <h2 class="secondSection__title">Morbi vitae mauris in enim scelerisque</h2>
                <p class="secondSection__text">{{aboutParagraphs.secondText.firstParagraph}}</p>
                <p class="secondSection__text">{{aboutParagraphs.secondText.secondParagraph}}</p>
                <p class="secondSection__text">{{aboutParagraphs.secondText.thirdParagraph}}</p>
            </div>
        </section>
    </div>
</main>