<main>
    <h1>Contactez-nous</h1>
    <form class="form" [formGroup]="form" action="#" method="post">
        <div class="form__container">
            <div class="form__options">
                <div class="form__option">
                    <label for="last-name">Nom</label>
                    <input type="text" name="last-name" id="last-name" formControlName="lastName">
                </div>
                <div *ngIf="form.get('lastName')?.invalid && (!form.get('lastName')?.pristine || form.get('lastName')?.touched)">
                    <p class="form__error" *ngIf="form.get('lastName')?.hasError('required')">Requis</p>
                    <p class="form__error" *ngIf="form.get('lastName')?.hasError('maxlength')">20 caractères maximum</p>
                    <p class="form__error" *ngIf="form.get('lastName')?.hasError('pattern')">Sont acceptés : les lettres, les accents et le tiret</p>
                </div>
                <div class="form__option">
                    <label for="first-name">Prénom</label>
                    <input type="text" name="first-name" id="first-name" formControlName="firstName">
                </div>
                <div *ngIf="form.get('firstName')?.invalid && (!form.get('firstName')?.pristine || form.get('firstName')?.touched)">
                    <p class="form__error" *ngIf="form.get('firstName')?.hasError('required')">Requis</p>
                    <p class="form__error" *ngIf="form.get('firstName')?.hasError('maxlength')">20 caractères maximum</p>
                    <p class="form__error" *ngIf="form.get('firstName')?.hasError('pattern')">Sont acceptés : les lettres, les accents et le tiret</p>
                </div>
                <div class="form__option">
                    <label for="mail">Mail</label>
                    <input type="email" name="mail" id="mail" formControlName="mail">
                </div>
                <div *ngIf="form.get('mail')?.invalid && (!form.get('mail')?.pristine || form.get('mail')?.touched)">
                    <p class="form__error" *ngIf="form.get('mail')?.hasError('required')">Requis</p>
                    <p class="form__error" *ngIf="form.get('mail')?.hasError('email') && form.get('mail')?.touched">Le mail n'est pas valide</p>
                </div>
                <div class="form__option">
                    <label for="subject">Sujet</label>
                    <input type="text" name="subject" id="subject" formControlName="subject">
                </div>
                <div *ngIf="form.get('subject')?.invalid && (!form.get('subject')?.pristine || form.get('subject')?.touched)">
                    <p class="form__error" *ngIf="form.get('subject')?.hasError('required')">Requis</p>
                    <p class="form__error" *ngIf="form.get('subject')?.hasError('maxlength')">60 caractères maximum</p>
                </div>
            </div>
            <img class="form__image" src="/assets/images/idefix.webp" alt="Dessin d'Idefix en position assise">
        </div>
        <div class="form__text-area-container">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="9" formControlName="message"></textarea>
        </div>
        <div *ngIf="form.get('message')?.invalid && (!form.get('message')?.pristine || form.get('message')?.touched)">
            <p class="form__error" *ngIf="form.get('message')?.hasError('required')">Requis</p>
            <p class="form__error" *ngIf="form.get('message')?.hasError('maxlength')">1 000 caractères maximum</p>
        </div>
        <button type="button" (click)="sendInvalidForm()" *ngIf="form.invalid">Envoyer</button>
        <button type="submit" (click)="sendValidForm()" *ngIf="form.valid">Envoyer</button>
        <p class="form__error" *ngIf="form.invalid && trySendInvalidForm">Veuillez remplir intégralement le formulaire</p>
    </form>
</main>
