<main>
    <h1>Contactez-nous</h1>
    <form class="form" method="post">
        <div class="form__container">
            <div class="form__options">
                <div class="form__option">
                    <label for="last-name">Nom</label>
                    <input type="text" name="last-name" id="last-name" >
                </div>
                <div class="form__option">
                    <label for="first-name">Prénom</label>
                    <input type="text" name="first-name" id="first-name">
                </div>
                <div class="form__option">
                    <label for="mail">Mail</label>
                    <input type="email" name="mail" id="mail">
                </div>
                <div class="form__option">
                    <label for="subject">Sujet</label>
                    <input type="text" name="subject" id="subject">
                </div>
            </div>
            <img class="form__image" src="/assets/images/idefix.webp" alt="Dessin d'Idefix en position assise">
        </div>
        <div class="form__text-area-container">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="9"></textarea>
        </div>
        <button type="submit">Envoyer</button>
    </form>
</main>
