<!-- Faire un longDescription et remplacer le description par shortDescription dans le service -->
<main>
    <h1>Fiche produit</h1>
    <div>
        <div class="image-container">
            <img class="image-container__image" [src]="figurine.imgSrc" [alt]="figurine.imgAlt">
        </div>
        <div class="product">
            <div class="product__up-text">
                <h2 class="product__title">{{figurine.name}}</h2>
                <p class="product__description">{{figurine.longDescription}}</p>
            </div>
            <div class="product__down-text">
                <p class="product__price">{{figurine.price.toFixed(2)}} €</p>
                <form class="product__form" action="" method="post">
                    <div class="product__quantity">
                        <label for="quantity">Quantité</label>
                        <input type="number" name="quantity" id="quantity" [defaultValue]="1">
                    </div>
                    <button type="submit" class="product__button">Ajouter au panier</button>
                </form>
            </div>
        </div>
    </div>
</main>