/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@font-face {
    font-family: "Bubbleboddy-Neue-thin";
    src: url('/assets/fonts/bubbleboddy_neue/BubbleboddyNeue-Thin-Trial.woff');
    src: ur('/assets/fonts/bubbleboddy_neue/BubbleboddyNeue-Thin-Trial.otf') format('opentype');
    src: url('/assets/fonts/bubbleboddy_neue/BubbleboddyNeue-Thin Trial.ttf') format('truetype');
}

@font-face {
    font-family: "Bubbleboddy-Neue-light";
    src: url('/assets/fonts/bubbleboddy_neue/BubbleboddyNeue-Light-Trial.woff');
    src: ur('/assets/fonts/bubbleboddy_neue/BubbleboddyNeue-Light-Trial.otf') format('opentype');
    src: url('/assets/fonts/bubbleboddy_neue/BubbleboddyNeue-Light Trial.ttf') format('truetype');
}

@font-face {
    font-family: "Bubbleboddy-Neue-regular";
    src: url('/assets/fonts/bubbleboddy_neue/bubbleboddyneue-regular-trial.woff');
    src: ur('/assets/fonts/bubbleboddy_neue/bubbleboddyneue-regular-trial.otf') format('opentype');
    src: url('/assets/fonts/bubbleboddy_neue/bubbleboddyneue-regular trial.ttf') format('truetype');
}

@font-face {
    font-family: "Bubbleboddy-Neue-bold";
    src: url('/assets/fonts/bubbleboddy_neue/BubbleboddyNeue-Bold-Trial.woff');
    src: ur('/assets/fonts/bubbleboddy_neue/BubbleboddyNeue-Bold-Trial.otf') format('opentype');
    src: url('/assets/fonts/bubbleboddy_neue/BubbleboddyNeue-Bold Trial.ttf') format('truetype');
}

@font-face {
    font-family: "Bubbleboddy-Neue-extra-bold";
    src: url('/assets/fonts/bubbleboddy_neue/BubbleboddyNeue-ExtraBold-Trial.woff');
    src: ur('/assets/fonts/bubbleboddy_neue/BubbleboddyNeue-ExtraBold-Trial.otf') format('opentype');
    src: url('/assets/fonts/bubbleboddy_neue/BubbleboddyNeue-ExtraBold Trial.ttf') format('truetype');
}

body {
    margin: 0;
}

* {
    color: #151217;
}