  <main>
    <div class="intro">
        <h1 class="intro__title">Bienvenue "Au Petit Village"<br>des irréductibles Gaulois !!</h1>    
        <img class="intro__image" src="/assets/images/villageois.webp" alt="Dessins des habitants du village d'Astérix et Obélix.">
    </div>
    <div class="about">
        <section class="about__section">
            <h2 class="about__title">Qui-sommes nous ?</h2>
            <p class="about__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci molestiae, amet expedita quibusdam officiis ad quia 
                nobis natus perferendis itaque quod placeat sed est velit, laborum modi ipsam! Molestiae, ipsam!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, optio aliquam voluptatibus labore, eligendi ex sunt 
                quibusdam consectetur dicta hic ab excepturi iste tempora quae placeat saepe natus rem facere?
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <a class="about__link" href="">En savoir plus</a>
        </section>
        <img class="about__image" src="/assets/images/banquet.webp" alt="Dessins des habitants du village d'Astérix à un banquet.">
    </div>
    <div class="products">
        <h2 class="products__title">Nos Figurines</h2>
        <p class="products__text">
            Nos figurines sont faites à la main. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Veniam alias perferendis modi ea quidem ad vero voluptatem. Cum atque minima reiciendis esse? 
            Dolor sed deleniti, autem ut dolores voluptates optio!
        </p>
        <div class="products__search-container">
            <input class="products__search-bar" (input)="onInputChange($event)" type="text" placeholder="Rechercher">
            <div class="products__sort-container">
                <p class="products__sort-text">Filtrer par : Prix</p>
                <div class="products__sort-buttons">
                    <button class="products__sort-button" (click)='orderPrice("ascendingOrder")'>
                        <img class="products__sort-image" src="/assets/images/up_arrow.webp" alt="Flèche noire pointant vers le haut">
                    </button>
                    <button class="products__sort-button" (click)='orderPrice("descendingOrder")'>
                        <img class="products__sort-image" src="/assets/images/down_arrow.webp" alt="Flèche noire pointant vers le bas">
                    </button>
                </div>
            </div>
        </div>
        <div class="products__container">
            <section class="products__product" *ngFor="let figurine of (figurines | filterByName : inputText | sortByPrice : priceSorting); trackBy: figurineName">
                <img class="products__image" [src]="figurine.imgSrc" [alt]="figurine.imgAlt">
                <h3 class="products__name">{{figurine.name}}</h3>
                <p class="products__description">{{figurine.description}}</p>
                <p class="products__price">{{figurine.price}}€</p>
                <div class="products__buttons">
                    <a class="products__link" [href]="figurine.link">Voir</a>
                    <button class="products__add-cart">Acheter</button>
                </div>
            </section>
        </div>
    </div>
  </main>